#!/bin/sh
cd /volumio/app/plugins/music_service/volspotconnect2
./vollibrespot -b 320  -c /tmp ${shared} \
                  --disable-audio-cache \
                  --name '${devicename}' --initial-volume ${initvol}\
                  --device volume  \
#                  --verbose
